<!DOCTYPE html>
<html lang="en">
<head>
    <title>Inbox</title>
</head>
<body>
    <h2>Your Chats</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <h4>
                    {{ message }}
                </h4>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <ul>
        {% if chats %}
            {% for chat in chats %}
                {% if chat["user1"] == username %}
                    {% set otherUser = chat["user2"] %}
                {% else %}
                    {% set otherUser = chat["user1"] %}
                {% endif %}
                <li><a href="/chat_messages/{{ chat["chatID"] }}">{{ otherUser }}</a></li>
            {% endfor %}
        {% else %}
            <li>No chats available.</li>
        {% endif %}
    </ul>

    <button id="home" type = "button" onclick= "window.location.href='/new_chat' ; " class="button">New Chat</button>
</body>
</html>